* {
  margin: 0;
  padding: 0;
}

html {
  max-width: 100%;
  display: grid;
  font-size: 62.5%;
  }
  body {
    box-sizing: border-box;
    background-color: #154644 ;
    overflow: unset;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  h1 {
    text-align: center;
  }
  h2 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  ul {
    list-style: none;
  }
  
  #encabezado {
    margin: 30px 0;
  }
  


/* Title */
#logo {
  color: #154644 ;
  font-size: 3.6rem;
  font-weight: bold;
}

/* Intro */
.introduction {
  font-size: 20px;
  background-color: #F8F8F2;
}
/* Form */

.main-form {
  background-color: #F8F8F2;
  margin-top: 6em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 90%;
  max-width: 900px;
  align-self: center;
  transition: 1s;
}
  @media (min-width: 768px){
    .main-form{
      padding: 2em;
      margin-top: 4em;
  }
}

.medical-condition-label {
  font-size: 18px;
}
  .display{
    display: grid;
    max-width: 100%;
    gap: 5px;
    transition: .2s;
    grid-template-columns: repeat(1, 300px);
  };

@media (max-width: 620px){
    .display {
        grid-template-columns: repeat(1, 300px);
        }
  }
@media (min-width: 620px){
    .display {
        grid-template-columns: repeat(2, 300px);
    }
  }

@media (min-width: 940px) {
    .display {
        grid-template-columns: repeat(3, 300px);
    }
  }

@media (min-width: 1440px) {
    .display {
        grid-template-columns: repeat(4, 300px);
    }
}


/*cards*/
  .card {
    width: 300px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
    border-radius: .6rem;
    transition: .2s;
  }

  .card .name {
    color: #154644;
    font-weight: 700;
  }
  .info {
    padding: 10px 20px;
  }
  
  .info-card p,
  .card h4 {
    margin-bottom: 5px;
  }
  .negatives {
    margin-bottom: 5px;
  }
  .card  {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .card .ammount span {
    font-size: 22px;
  }
  
  #lista-producto .row {
    margin-bottom: 20px;
  }
  
  .agregar-carrito {
    margin: 10px 0;
  }

.image {
    max-width: 230px;
}


/* navbar */
#header {
  display: flex;
  padding: 20px 0 0 0;
  background: #F8F8F2;
  text-align: center;
}

.main-header__logo-container {
  background-color: #F8F8F2;
  padding-left: .5em;
  padding: 0;
  flex-basis: 30%;
  flex-shrink: 1;
}

#img-carrito {
  cursor: pointer;
}

.logo {
  width: 9em;
  flex-shrink: 1;
}

.main-header__cart-button-container {
  background-color: #F8F8F2;
  padding: 1.8em 1em;
}

.cart-button-image {
  display: block;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  background-color: inherit;
  transition: 0.5s;
  cursor: pointer;
}

.cart-button-image:hover {
  transform: scale(1.05);
}

.cart-button-image:target {
  background-color: #264653;
}

/*cart display*/
.submenu {
  position: relative;
}

.cart-container__content {
  display: none;
  background-color: hsl(187, 30%, 54%, 95%);
  position: absolute;
  left: 6%;
  top: 55%;
  color: #000;
  width: 90%;
  z-index: 10;
  border-radius: 0.8em;
  padding: 30px;
  overflow-y: auto;
  max-height: 1300px;
  transition: 1s;
}
@media (min-width: 425px) {
  .cart-container__content {
    top: 55%;
    width: 92%;
  }
}
@media (min-height: 1024px) {
  .cart-container__content {
    top: 55%;
    max-height: 3000px;
  }
}
.cart-container__content--visible {
  display: grid;
}
.cart-container--transform-in {
  transform: translateY(0);
  transition: transform 0.5s;
}
@media (min-width: 768px) {
  .cart-container--transform-in {
    transform: translateY(0);
    transition: transform 0.5s;;
  }
}
.cart-container--transform-out {
  transform: translateY(-1000px);
  transition: transform 0.5s;
}

.cart-container--visible {
  position: fixed;
}
.cart-container__close {
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 2.2em;
  color: #c53d3f;
  cursor: pointer;
}
.cart-container__close:hover {
  color: #B9ECE6;
}

.cart-container__titles-container{
  display: flex;
  justify-content: flex-start;
}

.cart-container__titles {
  color: #154644;
  font-size: 1.2em;
  font-weight: 1000;
  line-height: 1.2;
  margin: 0 30px;
}

.cart-container__footer {
  padding: 0 0 0 30px;
  font-size: 1.2em;
  font-weight: 1000;
  line-height: 1.2;
}

.cart-product_quantity {
  color: #154644;
}
.cart-product_total-quantity {
  font-size: 1.2em;
  font-weight: 1000;
  line-height: 1.2;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: #154644;
  padding: 0 0 0 10px;
}
@media (min-width: 768px) {
  .cart-container__total {
    font-size: 2.5em;
  }
}

.cart-image {
  padding: 15px 0 0 0 ;
}

/* Cart Buttons */
.cart-container__empty {
  text-decoration: none;
}

.cart-btn_minus, .cart-btn_plus {
  background-color: hsl(43, 74%, 49%, 60%);
  padding: 0 15px;
}
.cart-btn_minus:hover, .cart-btn_plus:hover {
  background-color: hsl(43, 74%, 49%, 70%);
  padding: 0 15px;
}
.cart-btn_minus:active, .cart-btn_plus:active {
  background-color: hsl(43, 74%, 49%, 80%);
  padding: 0 15px;
}

.erase-product {
  height: 28px;
  width: 28px;
  margin: 2px 0 0 10px;
  padding: 0px 0 34px 0;
  background-color: hsl(359, 54%, 51%, 80%);
  color: rgb(78, 78, 78);
}

#empty-cart {
  color: hsl(359, 54%, 51%, 80%);
  font-size: 1.2em;
  font-weight: 1000;
  line-height: 1.2;
}
#empty-cart:hover {
  color: hsl(359, 54%, 51%, 98%);
  transform: scale(1.10);
  font-size: 1.2em;
  font-weight: 1000;
  line-height: 1.2;
}

.cart-container__generate {
  background-color: hsl(43, 74%, 49%, 70%);
  margin: 10px 0 0 0;
  padding: inherit;
  width: 140px;
  margin: 0 0 0 25px;
}
.cart-container__generate:hover {
  background-color: hsl(43, 74%, 49%, 80%);
  margin: 10px 0 0 0;
  padding: inherit;
  width: 140px;
  margin: 0 0 0 25px;
}
.cart-container__generate:active {
  background-color: hsl(43, 74%, 49%, 90%);
  margin: 10px 0 0 0;
  padding: inherit;
  width: 140px;
  margin: 0 0 0 25px;
}

/* Search Button */

#btnStrain {
 background-color: hsl(43, 74%, 49%, 60%);
}
#btnStrain:hover {
 background-color: hsl(43, 74%, 49%, 70%);
}

/* Card Add Button */
#btnAdd {
 color: #154644;
}
#btnAdd:hover {
 background-color: hsl(43, 74%, 49%, 60%);
}
#btnAdd:active {
 background-color: hsl(43, 74%, 49%, 70%);
}
